node_name = "mixer_test"

[producers.sine1]
type = "sine"
enabled = true
sample_rate = 48000

[producers.sine2]
type = "sine"
enabled = true
sample_rate = 44100

[processors.main_mixer]
type = "mixer"
enabled = true

[processors.main_mixer.config]
output_sample_rate = 48000
output_channels = 2
master_gain = 0.8
auto_connect = true

[[processors.main_mixer.config.inputs]]
name = "sine_440"
source = "producer:sine1"
gain = 0.5
enabled = true

[[processors.main_mixer.config.inputs]]
name = "sine_880"
source = "producer:sine2"
gain = 0.3
enabled = true

[flows.mixer_test]
enabled = true
inputs = ["sine1", "sine2"]
processors = ["main_mixer"]
outputs = ["recorder"]

[consumers.recorder]
type = "file"
enabled = true
path = "mixed_sines.wav"
